/* base.css */
h1 {
    color;
    rgb(51, 53, 51);
}

h2 {
    color;
    rgb(51, 53, 51);
}

h3 {
    color;
    rgb(51, 53, 51);
}

.branding-logo {
    height: 100px;
    width: auto;
    max-width: 50%;
    padding-bottom: 5px;
}

/* Remove Asterisk next to the Email and Password fields on the Login page */
.asteriskField {
    display: none;
}

/* Improve the alert layout on login page when a failed login happens */
form .alert ul li {
    list-style: none;
}

form .alert ul {
    padding: 0;
    margin: 0;
}

/* Navbar colour formatting */
nav {
    background-color: rgb(51, 53, 51);
}

nav a {
    color: white;
}

.navbar-brand {
    color: white;
}

.d-flex {
    background-color: rgb(51, 53, 51);
}

.card-body {
    background-color: rgb(246, 203, 92);
}

html body {
    background-color: rgb(232, 237, 223)
}


.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
}