/* base.css */
h1 {
    color: blue;
}

.branding-logo {
    height: 100px;
    width: auto;
    max-width: 50%;
    padding-bottom: 5px;
}

/* Remove Asterisk next to the Email and Password fields on the Login page */
.asteriskField {
    display: none;
}

/* Improve the alert layout on login page when a failed login happens */
form .alert ul li {
    list-style: none;
}

form .alert ul {
    padding: 0;
    margin: 0;
}